$primary-color: #ffffff;
$secondary-color: rgb(205, 205, 205);
$black-color: #3B4051;
$check-color: rgb(0, 135, 0);
$minus-color: rgb(182, 182, 182);
$check-btn: rgb(214, 194, 194);
$primary-check-btn: rgb(214, 194, 194);
$error-text: rgb(179, 0, 0);
$nav-color: rgb(242, 233, 194);
$body-color: #f0efea;
$logo-color: rgb(128, 68, 46);
$second-color: #B2B1CF;