@use './_colors' as *;

*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
	color: $logo-color;
	background-color: $body-color;
}

a {
	text-decoration: none;
	color: $logo-color;
}

img {
	height: auto;
}

.section-scroll {
	scroll-margin-top: 63px;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.section-title {
	padding: 3em;
	text-align: center;
	text-transform: uppercase;
	font-weight: 400;
	color: $logo-color;
}

// NAV
.nav {
	position: fixed;
	width: 100%;
	background-color: $nav-color;
	overflow: hidden;
	border-radius: 14px;
	z-index: 100;
}

.nav-logo {
	padding: 0.5em 1em;
	transition: transform 0.3s;
	&:hover {
		transform: scale(1.2);
	}
	img {
		width: 100px;
		border: 1px solid $logo-color;
		border-radius: 8px;
	}
}

.nav-button {
	display: block;
	padding: 0.5em 1em;
	border: none;
	background: none;
	font-size: 3rem;
	color: $logo-color;
	cursor: pointer;
	transition: transform 0.3s;
	&:hover {
		transform: scale(1.4);
	}
}

.nav-mobile {
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__items {
		position: fixed;
		top: 10vh;
		left: 0;
		right: 0;
		bottom: 10vh;
		margin: 0 2.5em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: 10px;
		z-index: 50;
		background-color: $primary-color;
		transform: translateX(-140%);
		transition: transform 0.5s;
		&--active {
			transform: translateX(0);
		}
	}
	&__item {
		font-size: 2.4rem;
		padding: 1em 0.5em;
		transition: color 0.3s;
		&:hover {
			color: $nav-color;
		}
	}
}

.nav-desktop {
	display: none;
	&__items {
		display: flex;
		list-style: none;
		z-index: 10;
	}
	&__item {
		padding: 1.6em 2em;
		font-size: 1.6rem;
		color: $logo-color;
		transition: color 0.3s, background-color 0.3s;
		&--active,
		&:hover {
			color: $nav-color;
			background-color: $logo-color;
			// border-radius: 8px;
		}
	}
}

// HEADER
.hero-img {
	position: relative;
	display: flex;
	align-items: center;
	background-position: center;
	background-size: cover;
	z-index: 0;
	&__header {
		height: 60vh;
		background-image: url('../img/hero-img-christening-small.jpg');
	}
	&__title {
		margin-top: 4em;
		height: 35vh;
		background-image: url('../img/love-pixabay-small.jpg');
		background-attachment: fixed;
	}
	&__shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
	}
	&__text {
		padding: 0 2em;
		color: $body-color;
		z-index: 100;
		font-size: 1.4rem;
		p {
			font-size: 1.6rem;
		}
		&--title {
			padding: 1.5em 3em;
			text-align: center;
			width: 90%;
			font-size: 2rem;
			border: 2px solid white;
		}
	}
}

// ABOUTUS
.aboutus-info {
	display: flex;
	flex-direction: column;
	margin-bottom: 1.5em;
	// background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
	background-image: linear-gradient(120deg, #f3eac3 0%, #80442e 100%);
	box-shadow: 0px 2px 10px rgba(128, 68, 46, 0.3);
	border-radius: 8px;
	&__img {
		margin: 2em 1.5em;
		border-radius: 8px;
	}
	&__text {
		margin: 2em 1.5em;
		border-radius: 8px;
		padding: 2em 1.5em;
		color: $logo-color;
		background-color: $nav-color;
		// background-color: rgba(242, 233, 194, 0.8);
		h3 {
			margin-bottom: 1em;
		}
		p {
			line-height: 3rem;
		}
	}
}

// OFFERS
.offers {
	text-align: center;
	padding-bottom: 4em;
}

.offers-cards {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 3em 1em;
}

.offer-card {
	margin: 1em 0.5em;
	max-width: 350px;
	padding: 2em 1em;
	border: 1px;
	background-image: linear-gradient(120deg, #f3eac3 0%, #80442e 100%);
	box-shadow: 0px 2px 10px rgba(128, 68, 46, 0.3);
	border-radius: 8px;
	h3 {
		font-size: 2.2rem;
		font-weight: normal;
	}

	.one {
		background-image: url('../img/dekoracje.jpg');
	}

	.two {
		background-image: url('../img/imprezy-plenerowe.jpg');
	}

	.three {
		background-image: url('../img/stroje.jpg');
	}

	&__img {
		margin: 2em 0;
		width: 100%;
		background-position: center;
		background-size: cover;
		border-radius: 8px;
		overflow: hidden;
	}
	&__text {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		min-height: 450px;
		padding: auto 1em;
		color: $nav-color;
		transform: translateY(140%);
		transition: transform 0.8s;
		// clip-path: circle(0% at 50% 90%);
		// transition: clip-path 0.8s;
		&--active {
			background-color: rgba(0, 0, 0, 0.7);
			// clip-path: circle(120% at 50% 90%);
			transform: translateY(0);
		}
		p {
			font-size: 1.4rem;
			padding: 1em;
		}
	}

	&__btn {
		// margin-top: 1.5em;
		padding: 0.5em 3.5em;
		background: none;
		border: none;
		border-radius: 8px;
		font-size: 1.4rem;
		cursor: pointer;
		background-color: $body-color;
		color: $logo-color;
		box-shadow: 0px 2px 10px rgba(128, 68, 46, 0.3);
		transition: background-color 0.3s;
		&:hover {
			background-color: $check-btn;
		}
		&--central {
			background-color: #718f94;
			&:hover {
				background-color: #597074;
			}
		}
	}
}

.link {
	position: relative;
	padding: 10px 20px;
	font-size: 1.8rem;
}

.link,
.link::after,
.link::before {
	transition: 0.3s;
}

.link_one::before,
.link_one::after {
	content: '';
	position: absolute;
	width: 0;
	bottom: 0;
	border-bottom: 2px solid #80442e;
}

.link_one::before {
	right: 50%;
}
.link_one::after {
	left: 50%;
}

.link_one:hover::before,
.link_one:hover::after {
	width: 50%;
}

// MORE OFFERS
.more-offers__section > p {
	text-align: center;
	font-size: 2.2rem;
}

.more-offer {
	h3 {
		text-align: center;
	}
	&__text {
		margin: 0;
		padding: 1em;
		background-color: $nav-color;
		border-radius: 8px;
		h3 {
			padding-bottom: 1em;
		}
	}
}

// CONTACT

.contact{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact-form {
	flex-direction: column;
	width: 80vw;
	padding: 1em;
	margin-bottom: 3em;
	background-image: linear-gradient(120deg, #f3eac3 0%, #80442e 100%);
	box-shadow: 0px 2px 10px rgba(128, 68, 46, 0.3);
	border-radius: 8px;
	h3 {
		margin-bottom: 0.5em;
	}
}

.form-box {
	display: flex;
	flex-direction: column;
	padding: 0.5em;
	font-size: 1.4rem;
	label {
		margin-bottom: 0.5em;
	}
	input {
		padding: 0.5em;
		font-size: 1.4rem;
		border: 1px solid rgb(197, 197, 197);
		border-radius: 5px;
	}
	textarea {
		padding: 0.5em;
		font-size: 1.4rem;
		border-radius: 5px;
		resize: vertical;
		border: 1px solid rgb(197, 197, 197);
	}

	.error-text {
		margin-top: 0.5em;
		color: $error-text;
		visibility: hidden;
	}
}

.form-box.error .error-text {
	visibility: visible;
}

.panel-buttons {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-bottom: 1.5em;
	button {
		margin-top: 1em;
		padding: 0.5em 2.5em;
		background: none;
		border: none;
		border-radius: 8px;
		font-size: 1.6rem;
		background-color: $second-color;
		cursor: pointer;
		box-shadow: 0px 2px 10px rgba(128, 68, 46, 0.3);
		transition: background-color 0.3s;
		&:hover {
			background-color: $check-btn;
		}
	}
}

.popup {
	position: fixed;
	top: 40vh;
	left: 0;
	right: 0;
	bottom: 40vh;
	margin: 0 2em;
	display: none;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 2em 3em;
	z-index: 50;
	color: $check-color;
	background-color: $primary-color;
}

.show-popup {
	display: flex;
}

.google-map {
	display: flex;
	width: 80vw;
	margin-bottom: 3em;
	background-image: linear-gradient(120deg, #f3eac3 0%, #80442e 100%);
	h3 {
		margin-bottom: 1em;
	}
	iframe {
		border-radius: 8px;
		margin-bottom: 1.5em;
	}
}

// FOOTER
.footer {
	position: relative;
	bottom: 0;
	background-color: $nav-color;
}

.section-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding-bottom: 2em;
	.nav-logo,
	img {
		width: 150px;
		margin: 20px 0;
	}
}

.list {
	padding: 0.5em;
	list-style: none;
	line-height: 2.5rem;
	h3 {
		padding-bottom: 0.5em;
	}
	i {
		font-size: 2rem;
		padding: 0.5em;
		color: $logo-color;
		transition: color 0.3s;
		&:hover {
			color: rgb(3, 3, 247);
		}
	}
}

.footer-end {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 2em;
	border-top: 1px solid #000;
	font-size: 1.2rem;
}

//MEDIA

@media (min-width: 576px) {
	.panel-buttons {
		flex-direction: row;
	}

	.footer-end {
		font-size: 1.8rem;
	}
}

@media (min-width: 768px) {
	.hero-img__title {
		height: 50vh;
		p {
			font-size: 2rem;
		}
	}
	.offers-cards {
		flex-direction: row;
	}

.more-offer{
	&__img{
		max-height: 280px;
	}
}

	.popup {
		top: 45vh;
		left: 10vw;
		right: 10vw;
		bottom: 45vh;
	}
	.section-list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr 1fr;
		margin: 0 5em;
		&__one {
			grid-row: 1/2;
			grid-column: 1/4;
		}

		&__two {
			grid-row: 2/3;
			grid-column: 1/2;
		}

		&__three {
			grid-row: 2/3;
			grid-column: 2/3;
			li {
				display: inline-block;
				padding-top: 0.8em;
			}
		}

		&__four {
			grid-row: 2/3;
			grid-column: 3/4;
		}
	}
	.contact{
		display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: 1fr;
			max-width: 100%;
			&__one {
				grid-row: 1/2;
				grid-column: 1/3;
				text-align: center;
			}
			&__two {
				grid-row: 2/2;
				grid-column: 1/2;
			}
			&__three {
				grid-row: 2/2;
				grid-column: 2/2;
			}
	}
	.contact-form{
		width: auto;
		margin: 1em;
	}
	.google-map{
		width: auto;
		max-height: 400px;
		margin: 1em;
	}
}

@media (min-width: 992px) {
	.nav-mobile {
		display: none;
	}
	.nav-desktop {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.hero-img {
		&__header {
			height: 80vh;
			background-image: url('../img/hero-img-christening-big.jpg');
		}
		&__title {
			background-image: url('../img/love-pixabay-big.jpg');
		}
	}
	.aboutus-info {
		flex-direction: row;
		justify-content: space-between;
		&__img {
			width: 46%;
			background-position: center;
			background-size: cover;
		}
	}
	.popup {
		left: 25vw;
		right: 25vw;
	}
	.section-list {
		display: grid;
		grid-template-columns: 3fr 1fr 1fr 1fr;
		grid-template-rows: 1fr;
		margin: 0;
		padding-top: 2em;
		&__one {
			grid-row: 1/3;
			grid-column: 1/2;
			text-align: center;
		}

		&__two {
			grid-row: 1/2;
			grid-column: 2/3;
		}

		&__three {
			grid-row: 1/2;
			grid-column: 3/4;
		}

		&__four {
			grid-row: 1/2;
			grid-column: 4/5;
		}
	}

	.more-offers {
		display: flex;
		flex-direction: column;
		.more-offer {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: 1fr;
			max-width: 100%;
			&__one {
				grid-row: 1/2;
				grid-column: 1/3;
				text-align: center;
			}
			&__two {
				grid-row: 2/2;
				grid-column: 1/2;
			}
			&__three {
				grid-row: 2/2;
				grid-column: 2/2;
			}
			&__text {
				margin-left: 1em;
				padding: 1em 2em;
			}
			&__img {
				margin: 0;
			}
			h3{
				padding-bottom: 1.5em;
			}
		}
		.even .more-offer__two{
			grid-row: 2/2;
			grid-column: 2/2;
		}
		.even .more-offer__three{
			margin-left: 0;
			margin-right: 1em;
			grid-row: 2/2;
			grid-column: 1/2;
		}
	}
}
